{% extends "base.html" %}

{% block menu %}
  <ul class="nav nav-pills">
    <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
    <li class="nav-item"><a href="/blog" class="nav-link">Blog</a></li>
    <li class="nav-item"><a href="/races" class="nav-link">Races</a></li>
    <li class="nav-item"><a href="/tools" class="nav-link">Tools</a></li>
    <li class="nav-item"><a href="/terminology" class="nav-link">Terminology</a></li>
    <li class="nav-item"><a href="/about" class="nav-link active" aria-current="page">About</a></li>
  </ul>
{% endblock %}

{% block content %}
  <h1 class="title">
    {{ page.title }}
    <div class="lead">by <b>{{ page.authors[0] }}</b></div>
  </h1>
  <br>
  <div class="row">
    <div class="col-9">
      {{ page.content | safe }}
    </div>
    <div class="col-3">
      <img src="{{ get_url(path="images/about.jpg") }}" class="img-fluid">
    </div>
  </div>
{% endblock content %}