{% extends "base.html" %}

{% block menu %}
  <ul class="nav nav-pills">
    <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
    <li class="nav-item"><a href="/blog" class="nav-link active" aria-current="page">Blog</a></li>
    <li class="nav-item"><a href="/races" class="nav-link">Races</a></li>
    <li class="nav-item"><a href="/tools" class="nav-link">Tools</a></li>
    <li class="nav-item"><a href="/terminology" class="nav-link">Terminology</a></li>
    <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
  </ul>
{% endblock %}

{% block content %}
  <ul>
    <!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->  
    {% for page in section.pages %}
      <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
    {% endfor %}
  </ul>
{% endblock content %}