{% extends "base.html" %}

{% block menu %}
  <ul class="nav nav-pills">
    <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
    <li class="nav-item"><a href="/blog" class="nav-link">Blog</a></li>
    <li class="nav-item"><a href="/terminology" class="nav-link active" aria-current="page">Terminology</a></li>
    <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
  </ul>
{% endblock %}

{% block content %}
  <h1 class="title">
    {{ page.title }}
  </h1>

  <br>
  <div class="btn-group">
    <a href="#B" class="btn btn-outline-primary">B</a>
    <a href="#C" class="btn btn-outline-primary">C</a>
    <a href="#D" class="btn btn-outline-primary">D</a>
    <a href="#E" class="btn btn-outline-primary">E</a>
    <a href="#F" class="btn btn-outline-primary">F</a>
    <a href="#G" class="btn btn-outline-primary">G</a>
    <a href="#H" class="btn btn-outline-primary">H</a>
    <a href="#I" class="btn btn-outline-primary">I</a>
    <a href="#K" class="btn btn-outline-primary">K</a>
    <a href="#L" class="btn btn-outline-primary">L</a>
    <a href="#M" class="btn btn-outline-primary">M</a>
    <a href="#N" class="btn btn-outline-primary">N</a>
    <a href="#O" class="btn btn-outline-primary">O</a>
    <a href="#P" class="btn btn-outline-primary">P</a>
    <a href="#Q" class="btn btn-outline-primary">Q</a>
    <a href="#S" class="btn btn-outline-primary">S</a>
    <a href="#W" class="btn btn-outline-primary">W</a>
  </div>
  <br><br>

  {{ page.content | safe }}
{% endblock content %}